/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100%;
  height: auto;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
}
li{
  width: 350px;
  height: auto;
  flex-direction: row;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#thailand{
  background-image: url(/destination-picker/img/thai.png);
  object-fit: contain;
}
#germany{
   background-image: url(/destination-picker/img/germany.png);
   object-fit: contain;
}
#china{
     background-image: url(/destination-picker/img/china.png);
   object-fit: contain;
}
#japan{
     background-image: url(/destination-picker/img/japan.png);
   object-fit: contain;
}
