/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 250px;
  height: 70px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  display: flex;
}
li{
  width: 94px;
  height: 65px;
  flex-direction: row;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#thailand{
  background: rgba(241,63,247,1);
}
#germany{
  background: rgba(0,253,81,1);
}
#china{
  background: rgba(0,254,255);
}
#japan{
  background: rgba(250, 0, 0, 1);
}
